<h1> <%= @job.title %> </h1>
<h3><%= @job.description %></h3>
<h3> <%= @job.worker_id %> </h3>
<h3> Pending <%= @job.pending %></h3>
<h3> Active <%= @job.is_active %> </h3>
<h3> Completed <%= @job.completed %> </h3>
