<!DOCTYPE html>
<html>
  <head>
      <title>Mr. Fix-It!</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="use_nav" class="navbar navbar-default">
      <div class="container-fluid">
        <div class="nabar-header">
        <%= link_to "Mr.Fix-it!", '/', :class => "navbar-brand" %>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "See All Jobs", jobs_path %></li>
            <li><%= link_to "Add Your Job", new_job_path %></li>
          </ul>
          <ul class="nav navbar-nav">
            <% if worker_signed_in? %>
          <li><%= link_to "Worker Dashboard", worker_path(current_worker) %></li>
          <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
        <% elsif user_signed_in? %>
          <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
          <li><%= link_to "Register as a Worker", new_worker_path %></li>
        <% else %>
        <li><%= link_to "Register as a Worker", new_worker_path %></li>
        <li><%= link_to "Register to Post Jobs", new_user_registration_path %></li>
        <li><%= link_to "Log In as User", new_user_session_path %></li>
        <li><%= link_to "Log In as Worker", new_worker_session_path %></li>
        <% end %>
          </ul>
          <ul class="nav navbar-nav">

          </ul>

          </div>
        </div>
      </div>
    </div>
    <% if user_signed_in? %>
    <div class="well">
      <p class="login-notice banner"><em>You're signed in as <%= current_user.email %></em></p>
    </div>
    <% end %>
    <% if worker_signed_in? %>
    <div class="well">
      <p class="login-notice banner"><em>You're signed into your <%= current_worker.email %> <b>worker account</b></em></p>
    </div>
    <% end %>
    <div class="content">

      <div class="container">
        <div class="well back-well">
        <div class="flash-messages">
          <%= flash[:alert] %>
          <h3><%= flash[:notice] %></h3>
          </div>
        <%= yield %>
      </div>
    </div>
  </div>
  </body>
</html>
